<!DOCTYPE html>
<html>
<head>
    <title>Movie Hacker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
          <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .container {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">IMDb List Hacker</div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>IMDb Link</th>
                <th>IMDb Rating</th>
                <th>Year</th>
                <th>Netflix Link</th>
                <th>Directors</th>
                <th>Genres</th>
            </tr>
            </thead>
            <tbody>
            {% for movie in results %}
            <tr>
                <td>{{movie.Title}}</td>
                <td><a href="{{movie.URL}}" target="_blank">
                    <i class="fa fa-imdb fa-lg" aria-hidden="true"></i>
                </a></td>
                <td>{{movie.IMDb_rating}}</td>
                <td>{{movie.Year}}</td>
                <td><a href="https://www.netflix.com/search?q={{movie.Title}}&suggestionId=0" target="_blank">
                    <i class="fa fa-ticket fa-lg" aria-hidden="true"></i>
                </a></td>
                <td>{{movie.Directors}}</td>
                <td>{{movie.Genres}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>
